
.slides-container {
  position: relative;
  width: 80%;
  margin: 40px auto;
  overflow: hidden;
  color: #00008B;
  top:45%

}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  color: #00008B
}

.slide {
  width: 100%;
  flex-shrink: 0;
  color: #00008B;
  margin-top:23px;
}

.slide h2 {
  font-size: 15px;
  margin-bottom: 15px;
  margin-left:20%;
}

.slide p {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
  color: #214082;
  margin-left:20%;
  font-weight: 500;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 3%;
  color: #00008B;

}
.dots-container:hover{
  cursor: pointer;
  color: #00008B
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.dot.active {
  background-color: #00008B;
}

.nav-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.nav-buttons button {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}

.c-p {
  cursor: pointer;
  text-decoration: underline;
  color: #FF3C00;
}
 .arrow {
  position: absolute;
  top: 57px;
}

.arrow.right {
  right: 0;
}



.arrow-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 23px;
}

