
.slides-container {
  position: relative;
  width: 80%;
  margin: 40px auto;
  overflow: hidden;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide h2 {
  font-size: 15px;
  margin-bottom: 20px;
}

.slide p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 41%;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.dot.active {
  background-color: #333;
}

.nav-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.nav-buttons button {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}

.nav-buttons button:first-child {
  left: 0;
}

.nav-buttons button:last-child {
  right: 0;
}