.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 79%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .options {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .save{
    margin-right:8%;
  }